{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Declaration</h1>

      <form class="form" action="/confirmation" method="post">

        <p>By continuing I confirm that:</p>

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>the information you've given is true</li>
          <li>you agree to the <a href="#" class="govuk-link govuk-link--no-visited-state">terms and conditions</a></li>
          <li>Home Office will record, store, use and share your data in accordance with out <a href="#" class="govuk-link govuk-link--no-visited-state">privacy policy</a></li>
        </ul>

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "waste",
          name: "waste",
          fieldset: {
            legend: {
            }
          },
          items: [
            {
              value: "agree",
              text: "I agree"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
