{% extends "layout.html" %}

{% block pageTitle %}
  Find postcode
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Work address</h1>
      <p>Tell us the full postal address where the sponsor is working in the UK </p>

      <form class="form" action="/select-co-address" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Postcode",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          value: data['address-postcode'],
          classes: "govuk-input--width-10",
          id: "address-postcode-c",
          name: "address-postcode-c"
        }) }}

        <button class="govuk-button" data-module="govuk-button">Find address</button>

      </form>

    </div>
  </div>

{% endblock %}
