{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/Declaration" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "where-do-you-live",
          name: "where-do-you-live",
          fieldset: {
            legend: {
              text: "How should we return documents?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Choose how your documents are sent back to you."
          },
          items: [
            {
              value: "secure",
              text: "Secure delivery (£5 extra)"
            },
            {
              value: "standard",
              text: "Standard post (free)"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
