{% extends "layout.html" %}

{% block pageTitle %}
  Select address
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Enter Home address</h1>

      <form class="form" action="/details-undertaking-sponsor" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

        {% call govukFieldset({
          legend: {
            text: "What is your address?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

          {{ govukInput({
            label: {
              html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
            },
            id: "address-line-1",
            name: "address-line-1",
            autocomplete: "address-line1"
          }) }}

          {{ govukInput({
            label: {
              html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
            },
            id: "address-line-2",
            name: "address-line-2",
            autocomplete: "address-line2"
          }) }}

          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-town",
            name: "address-town",
            autocomplete: "address-level2"
          }) }}

          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: "address-postcode",
            name: "address-postcode",
            autocomplete: "postal-code"
          }) }}

        {% endcall %}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
