{% extends "layout.html" %}

{% block pageTitle %}
  Select address
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

        <h1 id="header" data-page="addressManual">
          Enter home address
        </h1>

  <form action="/address-manual" method="POST" autocomplete="off" novalidate="true" spellcheck="false">
      <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-visually-hidden">Address</legend>

          <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" id="address-line-1-label" for="address-line-1">
            Address<span class="govuk-visually-hidden"> line 1</span>
          </label>

          <input class="govuk-input govuk-!-width-three-quarters" id="address-line-1" name="address-line-1" type="text" maxlength="40" autocapitalize="sentences">
          </div>

          <div class="govuk-form-group">
          <label class="govuk-label govuk-visually-hidden" id="address-line-2-label" for="address-line-2">
            Address line 2
          </label>

          <input class="govuk-input govuk-!-width-three-quarters" id="address-line-2" name="address-line-2" type="text" aria-required="false" maxlength="40" autocapitalize="sentences">
          </div>

          <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" id="address-town-label" for="address-town">
            Town or city
          </label>

          <input class="govuk-input govuk-!-width-one-half" id="address-town" name="address-town" type="text" maxlength="30" autocapitalize="sentences">
          </div>

          <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" id="address-postcode-label" for="address-postcode">
            Postcode
          </label>

          <input class="govuk-input govuk-!-width-one-quarter" id="address-postcode" name="address-postcode" type="text" value="BB3 0SB" maxlength="10" autocapitalize="characters">
          </div>

          <div class="govuk-form-group">
              <label class="govuk-label govuk-label--m">Country</label>
              <label class="govuk-label">United Kingdom</label>
          </div>

          <button class="govuk-button button" data-module="govuk-button">
          Continue
          </button>

      </fieldset>

      <input type="hidden" name="x-csrf-token" value="HlKePLNZ-_9wQF5E5Rwg_mDZTJfX9R75iQm8">
    </form>


    </div>
  </div>

{% endblock %}
