{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check this application</h1>

      <h2 class="govuk-heading-m">Applicant's details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First and middle names
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['first-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/details-sponsered-person">
              Change
              <span class="govuk-visually-hidden"> first and middle names</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['last-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/details-sponsered-person">
              Change
              <span class="govuk-visually-hidden"> last name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['sdob-day']}} {{data['sdob-month'] | toMonth }} {{data['sdob-year']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/details-sponsered-person">
              Change
              <span class="govuk-visually-hidden"> applicant date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Place of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['birth-place'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/details-sponsered-person">
              Change
              <span class="govuk-visually-hidden"> place of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nationality
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['nationality'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/details-sponsered-person">
              Change
              <span class="govuk-visually-hidden"> nationality</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['selected-address'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/find-postcode">
              Change
              <span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Sponsor's details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First and middle names
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['sponsor-fname'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/details-undertaking-sponsor">
              Change
              <span class="govuk-visually-hidden"> first and middle names</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['sponsor-lname'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/details-undertaking-sponsor">
              Change
              <span class="govuk-visually-hidden"> last name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['adob-day']}} {{data['adob-month'] | toMonth }} {{data['adob-year']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/details-undertaking-sponsor">
              Change
              <span class="govuk-visually-hidden"> sponsor date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['national-insurance-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/details-undertaking-sponsor">
              Change
              <span class="govuk-visually-hidden"> national insurance number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['sponsor-selected-address'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/find-postcode-sponsor">
              Change
              <span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Sponsor's Employment details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company full name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['company-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/sponsor-employment-details">
              Change
              <span class="govuk-visually-hidden"> company full name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Work address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['selected-address-c'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/find-co-postcode">
              Change
              <span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Contact details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['contact-by-email']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/contact-details">
              Change
              <span class="govuk-visually-hidden"> email</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['contact-by-phone']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/contact-details">
              Change
              <span class="govuk-visually-hidden"> phone</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Text
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['contact-by-text']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/contact-details">
              Change
              <span class="govuk-visually-hidden"> text</span>
            </a>
          </dd>
        </div>
        </dl>

      <form action="/what-you-need-to-send" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
